In [1]:
import pandas as pd
df=pd.read_csv("data/movies.csv")

In [2]:
df.shape

(722317, 20)

In [3]:
df.head()

,id,title,genres,original_language,overview,popularity,production_companies,release_date,budget,revenue,runtime,status,tagline,vote_average,vote_count,credits,keywords,poster_path,backdrop_path,recommendations
0,615656,Meg 2: The Trench,Action-Science Fiction-Horror,en,An exploratory dive into the deepest depths of...,8763.998,Apelles Entertainment-Warner Bros. Pictures-di...,2023-08-02,129000000.0,3.520565e+08,116.0,Released,Back for seconds.,7.079,1365.0,Jason Statham-Wu Jing-Shuya Sophia Cai-Sergio ...,based on novel or book-sequel-kaiju,/4m1Au3YkjqsxF8iwQy0fPYSxE0h.jpg,/qlxy8yo5bcgUw2KAmmojUKp4rHd.jpg,1006462-298618-569094-1061181-346698-1076487-6...
1,758323,The Pope's Exorcist,Horror-Mystery-Thriller,en,Father Gabriele Amorth Chief Exorcist of the V...,5953.227,Screen Gems-2.0 Entertainment-Jesus & Mary-Wor...,2023-04-05,18000000.0,6.567582e+07,103.0,Released,Inspired by the actual files of Father Gabriel...,7.433,545.0,Russell Crowe-Daniel Zovatto-Alex Essoe-Franco...,spain-rome italy-vatican-pope-pig-possession-c...,/9JBEPLTPSm0d1mbEcLxULjJq9Eh.jpg,/hiHGRbyTcbZoLsYYkO4QiCLYe34.jpg,713704-296271-502356-1076605-1084225-1008005-9...
2,533535,Deadpool & Wolverine,Action-Comedy-Science Fiction,en,A listless Wade Wilson toils away in civilian ...,5410.496,Marvel Studios-Maximum Effort-21 Laps Entertai...,2024-07-24,200000000.0,1.326387e+09,128.0,Released,Come together.,7.765,3749.0,Ryan Reynolds-Hugh Jackman-Emma Corrin-Matthew...,hero-superhero-anti hero-mutant-breaking the f...,/8cdWjvZQUExUUTzyp4t6EDMubfO.jpg,/dvBCdCohwWbsP5qAaglOXagDMtk.jpg,573435-519182-957452-1022789-945961-718821-103...
3,667538,Transformers: Rise of the Beasts,Action-Adventure-Science Fiction,en,When a new threat capable of destroying the en...,5409.104,Skydance-Paramount-di Bonaventura Pictures-Bay...,2023-06-06,200000000.0,4.070455e+08,127.0,Released,Unite or fall.,7.340,1007.0,Anthony Ramos-Dominique Fishback-Luna Lauren V...,peru-alien-end of the world-based on cartoon-b...,/gPbM0MK8CP8A174rmUwGsADNYKD.jpg,/woJbg7ZqidhpvqFGGMRhWQNoxwa.jpg,496450-569094-298618-385687-877100-598331-4628...
4,693134,Dune: Part Two,Science Fiction-Adventure,en,Follow the mythic journey of Paul Atreides as ...,4742.163,Legendary Pictures,2024-02-27,190000000.0,6.838137e+08,167.0,Released,Long live the fighters.,8.300,2770.0,Timothée Chalamet-Zendaya-Rebecca Ferguson-Jav...,epic-based on novel or book-fight-sandstorm-sa...,/czembW0Rk1Ke7lCJGahbOhdCuhV.jpg,/xOMo8BRK7PfcJv9JCnx7s5hj0PX.jpg,438631-763215-792307-1011985-467244-634492-359...

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 722317 entries, 0 to 722316
Data columns (total 20 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   id                    722317 non-null  int64
 1   title                 722311 non-null  object
 2   genres                512000 non-null  object
 3   original_language     722317 non-null  object
 4   overview              604074 non-null  object
 5   popularity            722317 non-null  float64
 6   production_companies  337391 non-null  object
 7   release_date          670768 non-null  object
 8   budget                722317 non-null  float64
 9   revenue               722317 non-null  float64
 10  runtime               687982 non-null  float64
 11  status                722317 non-null  object
 12  tagline               108476 non-null  object
 13  vote_average          722317 non-null  float64
 14  vote_count            722317 non-null  float64
 15  credits               497603 non-null  object
 16  keywords              210639 non-null  object
 17  poster_path           537824 non-null  object
 18  backdrop_path         223211 non-null  object
 19  recommendations       36016 non-null   object
dtypes: float64(6), int64(1), object(13)
memory usage: 110.2+ MB

In [5]:
df.columns

Index(['id', 'title', 'genres', 'original_language', 'overview', 'popularity',
       'production_companies', 'release_date', 'budget', 'revenue', 'runtime',
       'status', 'tagline', 'vote_average', 'vote_count', 'credits',
       'keywords', 'poster_path', 'backdrop_path', 'recommendations'],
      dtype='object')

In [6]:
cols_to_drop = ["status", "tagline", "poster_path", "backdrop_path", "recommendations", 'production_companies']
df.drop(columns=cols_to_drop, inplace=True, errors="ignore")

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 722317 entries, 0 to 722316
Data columns (total 14 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   id                 722317 non-null  int64
 1   title              722311 non-null  object
 2   genres             512000 non-null  object
 3   original_language  722317 non-null  object
 4   overview           604074 non-null  object
 5   popularity         722317 non-null  float64
 6   release_date       670768 non-null  object
 7   budget             722317 non-null  float64
 8   revenue            722317 non-null  float64
 9   runtime            687982 non-null  float64
 10  vote_average       722317 non-null  float64
 11  vote_count         722317 non-null  float64
 12  credits            497603 non-null  object
 13  keywords           210639 non-null  object
dtypes: float64(6), int64(1), object(7)
memory usage: 77.2+ MB

In [8]:
df["release_date"] = pd.to_datetime(df["release_date"], errors="coerce")
df = df.loc[df["release_date"].between("2000-01-01", "2025-12-31")]

In [9]:
df.columns

Index(['id', 'title', 'genres', 'original_language', 'overview', 'popularity',
       'release_date', 'budget', 'revenue', 'runtime', 'vote_average',
       'vote_count', 'credits', 'keywords'],
      dtype='object')

In [10]:
df['genres'] = df['genres'].str.replace('-', ', ')

In [11]:
df.count()

id                   421463
title                421461
genres               311460
original_language    421463
overview             361882
popularity           421463
release_date         421463
budget               421463
revenue              421463
runtime              405378
vote_average         421463
vote_count           421463
credits              290028
keywords             129092
dtype: int64

In [12]:
df = df.reset_index(drop=True)

In [13]:
df.tail()

,id,title,genres,original_language,overview,popularity,release_date,budget,revenue,runtime,vote_average,vote_count,credits,keywords
421458,914660,A Hundred and Seventy Seconds,Thriller,en,Usually we don't stop and analyze the landscap...,0.001,2021-12-31,0.0,0.0,3.0,0.0,0.0,Alice Han-thomas,life and death
421459,741888,Friendsgiving,NaN,en,A young woman attends a Friendsgiving party ho...,0.001,2018-11-03,0.0,0.0,0.0,0.0,0.0,Nathan Ludwig,NaN
421460,836042,Tomcat Tales,"Documentary, History, War",en,Learn from real-life Top Guns who have flown a...,0.001,2020-01-01,0.0,0.0,120.0,0.0,0.0,NaN,NaN
421461,717787,Your Letter,"Animation, Drama, Mystery, Adventure",ko,Sori Lee is hoping for a fresh start at her ne...,0.001,2024-09-27,0.0,0.0,97.0,0.0,0.0,Lee Soo-hyun-Kim Min-ju-Min Seungwoo-Nam Doh-h...,bullying-slice of life-school life
421462,718477,Café Tacvba - Un Viaje,NaN,en,Un Viaje is the first live album by the rock b...,0.001,2005-04-19,0.0,0.0,120.0,0.0,0.0,Rubén Albarrán-Emmanuel del Real-Joselo Rangel...,NaN

In [14]:
# Keep movies with at least 10 votes
df = df[df['vote_count'] >= 10]

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 47642 entries, 0 to 421329
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 47642 non-null  int64
 1   title              47642 non-null  object
 2   genres             47264 non-null  object
 3   original_language  47642 non-null  object
 4   overview           46757 non-null  object
 5   popularity         47642 non-null  float64
 6   release_date       47642 non-null  datetime64[ns]
 7   budget             47642 non-null  float64
 8   revenue            47642 non-null  float64
 9   runtime            47612 non-null  float64
 10  vote_average       47642 non-null  float64
 11  vote_count         47642 non-null  float64
 12  credits            46640 non-null  object
 13  keywords           31635 non-null  object
dtypes: datetime64[ns](1), float64(6), int64(1), object(6)
memory usage: 5.5+ MB

In [16]:
duplicates = df.duplicated(subset=['title', 'release_date'], keep='first')
num_duplicates = duplicates.sum()

if num_duplicates > 0:
    print(f"⚠️ Found {num_duplicates} duplicate rows. Removing them...")
    df = df.drop_duplicates(subset=['title', 'release_date'], keep='first')
else:
    print("✅ No duplicates found.")

⚠️ Found 4689 duplicate rows. Removing them...

In [17]:
# Drop rows where critical info is missing
df = df.dropna(subset=['credits', 'genres', 'release_date'])

In [18]:
df.tail()

,id,title,genres,original_language,overview,popularity,release_date,budget,revenue,runtime,vote_average,vote_count,credits,keywords
399171,785207,I delitti del BarLume - Tana libera tutti,"Crime, Comedy",it,NaN,0.600,2021-01-18,0.0,0.0,0.0,6.8,10.0,Filippo Timi-Enrica Guidi-Lucia Mascino-Paolo ...,NaN
399731,776061,I delitti del BarLume - Il battesimo di Ampelio,"Comedy, Crime, Drama",it,NaN,0.600,2018-12-14,0.0,0.0,100.0,6.8,10.0,Filippo Timi-Stefano Fresi-Mariela Garriga-Gug...,NaN
406236,800449,Piedra Roja,Drama,es,NaN,0.600,2017-12-31,0.0,0.0,0.0,7.3,13.0,Natalie Medina-Maritza Vernaza-Mariela Aragón ...,NaN
406850,325176,The Runaway,Drama,fr,A youth worker in a home for juvenile offender...,0.600,2013-06-08,0.0,0.0,23.0,6.7,11.0,Médina Yalaoui-Adel Bencherif-Sabine Gavaudan-...,NaN
421329,176990,Sorority Party Massacre,"Thriller, Horror",en,In danger of losing his badge a big city detec...,0.556,2012-12-01,0.0,0.0,103.0,4.5,35.0,Marissa Skell-Eve Mauro-Yvette Yates Redick-Ca...,cop-murder-killer-missing person-sorority girl

In [19]:
df = df.reset_index(drop=True)

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41897 entries, 0 to 41896
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 41897 non-null  int64
 1   title              41897 non-null  object
 2   genres             41897 non-null  object
 3   original_language  41897 non-null  object
 4   overview           41262 non-null  object
 5   popularity         41897 non-null  float64
 6   release_date       41897 non-null  datetime64[ns]
 7   budget             41897 non-null  float64
 8   revenue            41897 non-null  float64
 9   runtime            41886 non-null  float64
 10  vote_average       41897 non-null  float64
 11  vote_count         41897 non-null  float64
 12  credits            41897 non-null  object
 13  keywords           28561 non-null  object
dtypes: datetime64[ns](1), float64(6), int64(1), object(6)
memory usage: 4.5+ MB

In [21]:

df.columns

Index(['id', 'title', 'genres', 'original_language', 'overview', 'popularity',
       'release_date', 'budget', 'revenue', 'runtime', 'vote_average',
       'vote_count', 'credits', 'keywords'],
      dtype='object')

In [22]:
d = df[['id','popularity','keywords','runtime']]
df.drop(columns = d,inplace =True)

In [23]:
df = df.rename(columns={'credits': 'cast'})

In [24]:
df['cast'] = df['cast'].str.replace('-', ', ')
# We CREATE 'main_actors' here because the App needs it
def get_top_5_actors(cast_string):
    if isinstance(cast_string, str):
        return ', '.join(cast_string.split(', ')[:5])
    return ""
df['main_actors'] = df['cast'].apply(get_top_5_actors)

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41897 entries, 0 to 41896
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   title              41897 non-null  object
 1   genres             41897 non-null  object
 2   original_language  41897 non-null  object
 3   overview           41262 non-null  object
 4   release_date       41897 non-null  datetime64[ns]
 5   budget             41897 non-null  float64
 6   revenue            41897 non-null  float64
 7   vote_average       41897 non-null  float64
 8   vote_count         41897 non-null  float64
 9   cast               41897 non-null  object
 10  main_actors        41897 non-null  object
dtypes: datetime64[ns](1), float64(4), object(6)
memory usage: 3.5+ MB

In [26]:
# We map codes to full English names.
language_map = {
        'en': 'English', 'fr': 'French', 'es': 'Spanish', 'ja': 'Japanese',
        'it': 'Italian', 'de': 'German', 'ko': 'Korean', 'hi': 'Hindi',
        'pt': 'Portuguese', 'zh': 'Chinese (Mandarin)', 'ru': 'Russian',
        'tr': 'Turkish', 'ta': 'Tamil', 'ml': 'Malayalam', 'nl': 'Dutch',
        'sv': 'Swedish', 'pl': 'Polish', 'cn': 'Chinese (Cantonese)', 
        'da': 'Danish', 'ar': 'Arabic', 'te': 'Telugu', 'no': 'Norwegian',
        'th': 'Thai', 'fi': 'Finnish', 'el': 'Greek', 'fa': 'Persian',
        'he': 'Hebrew', 'tl': 'Tagalog', 'cs': 'Czech', 'ro': 'Romanian',
        'hu': 'Hungarian', 'id': 'Indonesian', 'sr': 'Serbian', 'uk': 'Ukrainian',
        'is': 'Icelandic', 'ca': 'Catalan', 'bn': 'Bengali', 'kn': 'Kannada',
        'et': 'Estonian', 'hr': 'Croatian', 'bg': 'Bulgarian', 'ka': 'Georgian',
        'vi': 'Vietnamese', 'eu': 'Basque', 'ms': 'Malay', 'sk': 'Slovak',
        'lt': 'Lithuanian', 'gl': 'Galician', 'ur': 'Urdu', 'mr': 'Marathi',
        'lv': 'Latvian', 'pa': 'Punjabi', 'af': 'Afrikaans', 'bs': 'Bosnian',
        'sl': 'Slovenian', 'mk': 'Macedonian', 'ku': 'Kurdish', 'bo': 'Tibetan',
        'mn': 'Mongolian', 'xx': 'No Language'
    }
    
    # Map the column. If a code is missing (very rare), it becomes 'Other'
df['language'] = df['original_language'].map(language_map).fillna('Other')

In [27]:
df['release_date'] = pd.to_datetime(df['release_date'], errors='coerce')
    # Extracts '2014.0' and converts to '2014' for clean charts
df['year'] = df['release_date'].dt.year.astype(int)

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41897 entries, 0 to 41896
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   title              41897 non-null  object
 1   genres             41897 non-null  object
 2   original_language  41897 non-null  object
 3   overview           41262 non-null  object
 4   release_date       41897 non-null  datetime64[ns]
 5   budget             41897 non-null  float64
 6   revenue            41897 non-null  float64
 7   vote_average       41897 non-null  float64
 8   vote_count         41897 non-null  float64
 9   cast               41897 non-null  object
 10  main_actors        41897 non-null  object
 11  language           41897 non-null  object
 12  year               41897 non-null  int64
dtypes: datetime64[ns](1), float64(4), int64(1), object(7)
memory usage: 4.2+ MB

In [29]:
col_drop =df[['original_language','release_date','budget', 'revenue']]
df.drop(columns=col_drop, inplace =True)

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41897 entries, 0 to 41896
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   title         41897 non-null  object
 1   genres        41897 non-null  object
 2   overview      41262 non-null  object
 3   vote_average  41897 non-null  float64
 4   vote_count    41897 non-null  float64
 5   cast          41897 non-null  object
 6   main_actors   41897 non-null  object
 7   language      41897 non-null  object
 8   year          41897 non-null  int64
dtypes: float64(2), int64(1), object(6)
memory usage: 2.9+ MB

In [31]:
output_path = "data/movies_cleaned.csv"
df.to_csv(output_path, index=False)

In [32]:
f=pd.read_csv("data/movies_cleaned.csv")
df.head()

,title,genres,overview,vote_average,vote_count,cast,main_actors,language,year
0,Meg 2: The Trench,"Action, Science Fiction, Horror",An exploratory dive into the deepest depths of...,7.079,1365.0,"Jason Statham, Wu Jing, Shuya Sophia Cai, Serg...","Jason Statham, Wu Jing, Shuya Sophia Cai, Serg...",English,2023
1,The Pope's Exorcist,"Horror, Mystery, Thriller",Father Gabriele Amorth Chief Exorcist of the V...,7.433,545.0,"Russell Crowe, Daniel Zovatto, Alex Essoe, Fra...","Russell Crowe, Daniel Zovatto, Alex Essoe, Fra...",English,2023
2,Deadpool & Wolverine,"Action, Comedy, Science Fiction",A listless Wade Wilson toils away in civilian ...,7.765,3749.0,"Ryan Reynolds, Hugh Jackman, Emma Corrin, Matt...","Ryan Reynolds, Hugh Jackman, Emma Corrin, Matt...",English,2024
3,Transformers: Rise of the Beasts,"Action, Adventure, Science Fiction",When a new threat capable of destroying the en...,7.340,1007.0,"Anthony Ramos, Dominique Fishback, Luna Lauren...","Anthony Ramos, Dominique Fishback, Luna Lauren...",English,2023
4,Dune: Part Two,"Science Fiction, Adventure",Follow the mythic journey of Paul Atreides as ...,8.300,2770.0,"Timothée Chalamet, Zendaya, Rebecca Ferguson, ...","Timothée Chalamet, Zendaya, Rebecca Ferguson, ...",English,2024

In [33]:
f.loc[0 ,'cast']

'Jason Statham, Wu Jing, Shuya Sophia Cai, Sergio Peris, Mencheta, Skyler Samuels, Cliff Curtis, Page Kennedy, Sienna Guillory, Melissanthi Mahut, Kiran Sonia Sawar, Felix Mayr, Whoopie van Raam, Guo Tao, Robin Hill, Dai Lele, Sui Fong Ivy Tsui, Stewart Alexander, Li Xin, Billy Clements, Ron Smoorenburg, Rui Shang, Sara Dee, Jonny James, Bai Narisu, Kenneth Won, Able Wanamakok'

In [34]:
f.loc[0,'overview']

'An exploratory dive into the deepest depths of the ocean of a daring research team spirals into chaos when a malevolent mining operation threatens their mission and forces them into a high-stakes battle for survival.'